
#Project: Write a Data Science Blog Post


##Business Understanding
    Brief description
    0. Question :
    0. Question :
    0. Question :


##Data Understanding
    Access and Explore the data.

Import the libraries and load the data

In [173]:
# import libraries
import pandas as pd
import numpy as np

In [174]:
# load the csv file
calendar = pd.read_csv('./calendar.csv')
original_listing = pd.read_csv('./listings.csv')
listing=original_listing.copy()
reviews = pd.read_csv('./reviews.csv')

Exploring the data

In [175]:
calendar.head()

   listing_id        date available   price
0      241032  2016-01-04         t  $85.00
1      241032  2016-01-05         t  $85.00
2      241032  2016-01-06         f     NaN
3      241032  2016-01-07         f     NaN
4      241032  2016-01-08         f     NaN

In [176]:
calendar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1393570 entries, 0 to 1393569
Data columns (total 4 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   listing_id  1393570 non-null  int64
 1   date        1393570 non-null  object
 2   available   1393570 non-null  object
 3   price       934542 non-null   object
dtypes: int64(1), object(3)
memory usage: 42.5+ MB

In [177]:
listing.head()

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,review_scores_value,requires_license,license,jurisdiction_names,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,241032,https://www.airbnb.com/rooms/241032,20160104002432,2016-01-04,Stylish Queen Anne Apartment,NaN,Make your self at home in this charming one-be...,Make your self at home in this charming one-be...,none,NaN,...,10.0,f,NaN,WASHINGTON,f,moderate,f,f,2,4.07
1,953595,https://www.airbnb.com/rooms/953595,20160104002432,2016-01-04,Bright & Airy Queen Anne Apartment,Chemically sensitive? We've removed the irrita...,"Beautiful, hypoallergenic apartment in an extr...",Chemically sensitive? We've removed the irrita...,none,"Queen Anne is a wonderful, truly functional vi...",...,10.0,f,NaN,WASHINGTON,f,strict,t,t,6,1.48
2,3308979,https://www.airbnb.com/rooms/3308979,20160104002432,2016-01-04,New Modern House-Amazing water view,New modern house built in 2013. Spectacular s...,"Our house is modern, light and fresh with a wa...",New modern house built in 2013. Spectacular s...,none,Upper Queen Anne is a charming neighborhood fu...,...,10.0,f,NaN,WASHINGTON,f,strict,f,f,2,1.15
3,7421966,https://www.airbnb.com/rooms/7421966,20160104002432,2016-01-04,Queen Anne Chateau,A charming apartment that sits atop Queen Anne...,NaN,A charming apartment that sits atop Queen Anne...,none,NaN,...,NaN,f,NaN,WASHINGTON,f,flexible,f,f,1,NaN
4,278830,https://www.airbnb.com/rooms/278830,20160104002432,2016-01-04,Charming craftsman 3 bdm house,Cozy family craftman house in beautiful neighb...,Cozy family craftman house in beautiful neighb...,Cozy family craftman house in beautiful neighb...,none,We are in the beautiful neighborhood of Queen ...,...,9.0,f,NaN,WASHINGTON,f,strict,f,f,1,0.89

In [178]:
listing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3818 entries, 0 to 3817
Data columns (total 92 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   id                                3818 non-null   int64
 1   listing_url                       3818 non-null   object
 2   scrape_id                         3818 non-null   int64
 3   last_scraped                      3818 non-null   object
 4   name                              3818 non-null   object
 5   summary                           3641 non-null   object
 6   space                             3249 non-null   object
 7   description                       3818 non-null   object
 8   experiences_offered               3818 non-null   object
 9   neighborhood_overview             2786 non-null   object
 10  notes                             2212 non-null   object
 11  transit                           2884 non-null   object
 12  thumbnail_url                     3498 non-null   object
 13  medium_url                        3498 non-null   object
 14  picture_url                       3818 non-null   object
 15  xl_picture_url                    3498 non-null   object
 16  host_id                           3818 non-null   int64
 17  host_url                          3818 non-null   object
 18  host_name                         3816 non-null   object
 19  host_since                        3816 non-null   object
 20  host_location                     3810 non-null   object
 21  host_about                        2959 non-null   object
 22  host_response_time                3295 non-null   object
 23  host_response_rate                3295 non-null   object
 24  host_acceptance_rate              3045 non-null   object
 25  host_is_superhost                 3816 non-null   object
 26  host_thumbnail_url                3816 non-null   object
 27  host_picture_url                  3816 non-null   object
 28  host_neighbourhood                3518 non-null   object
 29  host_listings_count               3816 non-null   float64
 30  host_total_listings_count         3816 non-null   float64
 31  host_verifications                3818 non-null   object
 32  host_has_profile_pic              3816 non-null   object
 33  host_identity_verified            3816 non-null   object
 34  street                            3818 non-null   object
 35  neighbourhood                     3402 non-null   object
 36  neighbourhood_cleansed            3818 non-null   object
 37  neighbourhood_group_cleansed      3818 non-null   object
 38  city                              3818 non-null   object
 39  state                             3818 non-null   object
 40  zipcode                           3811 non-null   object
 41  market                            3818 non-null   object
 42  smart_location                    3818 non-null   object
 43  country_code                      3818 non-null   object
 44  country                           3818 non-null   object
 45  latitude                          3818 non-null   float64
 46  longitude                         3818 non-null   float64
 47  is_location_exact                 3818 non-null   object
 48  property_type                     3817 non-null   object
 49  room_type                         3818 non-null   object
 50  accommodates                      3818 non-null   int64
 51  bathrooms                         3802 non-null   float64
 52  bedrooms                          3812 non-null   float64
 53  beds                              3817 non-null   float64
 54  bed_type                          3818 non-null   object
 55  amenities                         3818 non-null   object
 56  square_feet                       97 non-null     float64
 57  price                             3818 non-null   object
 58  weekly_price                      2009 non-null   object
 59  monthly_price                     1517 non-null   object
 60  security_deposit                  1866 non-null   object
 61  cleaning_fee                      2788 non-null   object
 62  guests_included                   3818 non-null   int64
 63  extra_people                      3818 non-null   object
 64  minimum_nights                    3818 non-null   int64
 65  maximum_nights                    3818 non-null   int64
 66  calendar_updated                  3818 non-null   object
 67  has_availability                  3818 non-null   object
 68  availability_30                   3818 non-null   int64
 69  availability_60                   3818 non-null   int64
 70  availability_90                   3818 non-null   int64
 71  availability_365                  3818 non-null   int64
 72  calendar_last_scraped             3818 non-null   object
 73  number_of_reviews                 3818 non-null   int64
 74  first_review                      3191 non-null   object
 75  last_review                       3191 non-null   object
 76  review_scores_rating              3171 non-null   float64
 77  review_scores_accuracy            3160 non-null   float64
 78  review_scores_cleanliness         3165 non-null   float64
 79  review_scores_checkin             3160 non-null   float64
 80  review_scores_communication       3167 non-null   float64
 81  review_scores_location            3163 non-null   float64
 82  review_scores_value               3162 non-null   float64
 83  requires_license                  3818 non-null   object
 84  license                           0 non-null      float64
 85  jurisdiction_names                3818 non-null   object
 86  instant_bookable                  3818 non-null   object
 87  cancellation_policy               3818 non-null   object
 88  require_guest_profile_picture     3818 non-null   object
 89  require_guest_phone_verification  3818 non-null   object
 90  calculated_host_listings_count    3818 non-null   int64
 91  reviews_per_month                 3191 non-null   float64
dtypes: float64(17), int64(13), object(62)
memory usage: 2.7+ MB

In [179]:
listing.head()

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,review_scores_value,requires_license,license,jurisdiction_names,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,241032,https://www.airbnb.com/rooms/241032,20160104002432,2016-01-04,Stylish Queen Anne Apartment,NaN,Make your self at home in this charming one-be...,Make your self at home in this charming one-be...,none,NaN,...,10.0,f,NaN,WASHINGTON,f,moderate,f,f,2,4.07
1,953595,https://www.airbnb.com/rooms/953595,20160104002432,2016-01-04,Bright & Airy Queen Anne Apartment,Chemically sensitive? We've removed the irrita...,"Beautiful, hypoallergenic apartment in an extr...",Chemically sensitive? We've removed the irrita...,none,"Queen Anne is a wonderful, truly functional vi...",...,10.0,f,NaN,WASHINGTON,f,strict,t,t,6,1.48
2,3308979,https://www.airbnb.com/rooms/3308979,20160104002432,2016-01-04,New Modern House-Amazing water view,New modern house built in 2013. Spectacular s...,"Our house is modern, light and fresh with a wa...",New modern house built in 2013. Spectacular s...,none,Upper Queen Anne is a charming neighborhood fu...,...,10.0,f,NaN,WASHINGTON,f,strict,f,f,2,1.15
3,7421966,https://www.airbnb.com/rooms/7421966,20160104002432,2016-01-04,Queen Anne Chateau,A charming apartment that sits atop Queen Anne...,NaN,A charming apartment that sits atop Queen Anne...,none,NaN,...,NaN,f,NaN,WASHINGTON,f,flexible,f,f,1,NaN
4,278830,https://www.airbnb.com/rooms/278830,20160104002432,2016-01-04,Charming craftsman 3 bdm house,Cozy family craftman house in beautiful neighb...,Cozy family craftman house in beautiful neighb...,Cozy family craftman house in beautiful neighb...,none,We are in the beautiful neighborhood of Queen ...,...,9.0,f,NaN,WASHINGTON,f,strict,f,f,1,0.89

In [180]:
reviews.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,7202016,38917982,2015-07-19,28943674,Bianca,Cute and cozy place. Perfect location to every...
1,7202016,39087409,2015-07-20,32440555,Frank,Kelly has a great room in a very central locat...
2,7202016,39820030,2015-07-26,37722850,Ian,"Very spacious apartment, and in a great neighb..."
3,7202016,40813543,2015-08-02,33671805,George,Close to Seattle Center and all it has to offe...
4,7202016,41986501,2015-08-10,34959538,Ming,Kelly was a great host and very accommodating ...

Prepare Data
    Clean

Data cleaning:
Main Problems:
- prices are "object" pandas type (str or mixed) -> we want float
- dates are "object" pandas type (str or mixed) -> we want Date
- zipcode are "object" pandas type (str or mixed) -> we want int
- handling null (NaN) values
- boolean values t/f -> we want 1/0

Cleaning calendar dataframe:

In [181]:
def format_prices(dataframe,columns):
    for colum in columns:
        dataframe[colum] = dataframe[colum].replace({'\$':''}, regex=True)
        dataframe[colum] = dataframe[colum].replace({',':''}, regex=True)
        dataframe[colum]= dataframe[colum].astype(float)
    return dataframe

In [182]:
# remove the dollar sign and the comma
calendar = format_prices(calendar,['price'])

# convert t / f to 1 and 0
calendar["available"] = calendar["available"].replace({'t': 1, 'f': 0})

# convert to datetime
calendar['date'] = pd.to_datetime(calendar['date'])
#check types after that
calendar.dtypes

listing_id             int64
date          datetime64[ns]
available              int64
price                float64
dtype: object

In [183]:
calendar.head()

   listing_id       date  available  price
0      241032 2016-01-04          1   85.0
1      241032 2016-01-05          1   85.0
2      241032 2016-01-06          0    NaN
3      241032 2016-01-07          0    NaN
4      241032 2016-01-08          0    NaN

In [184]:
# we select the columns we want to keep. (we discarded some of them like "squere feet" due to the lack of information
columns_list_keep=['id','host_id', 'neighbourhood_cleansed','neighbourhood_group_cleansed', 'city', 'latitude', 'longitude', 'property_type', 'room_type', 'accommodates',
       'bathrooms', 'bedrooms', 'beds', 'bed_type', 'amenities',
       'price', 'cleaning_fee', 'guests_included', 'minimum_nights',
       'maximum_nights', 'number_of_reviews', 'review_scores_rating', 'cancellation_policy',
       'reviews_per_month']

listing=listing[columns_list_keep]

# few have nan as bathrooms and bedrooms. I'll set the default value to 0. Could be a studio apartment or a room in a house without the private bathroom
listing['bathrooms'] = listing['bathrooms'].fillna(0)
listing['bedrooms'] = listing['bedrooms'].fillna(0)
# there are few nan property type. We can set a default value "Other" not to lose them.
listing['property_type'] = listing['property_type'].fillna("Other")

# set the default cleaning_fee to 0
listing['cleaning_fee'] = listing['cleaning_fee'].fillna("$0")
# remove the locations without reviews
listing =listing[~listing['review_scores_rating'].isna()]
# remove the dollar sign and the comma
listing = format_prices(listing, ['price', 'cleaning_fee'])

listing.head()

,id,host_id,neighbourhood_cleansed,neighbourhood_group_cleansed,city,latitude,longitude,property_type,room_type,accommodates,...,amenities,price,cleaning_fee,guests_included,minimum_nights,maximum_nights,number_of_reviews,review_scores_rating,cancellation_policy,reviews_per_month
0,241032,956883,West Queen Anne,Queen Anne,Seattle,47.636289,-122.371025,Apartment,Entire home/apt,4,...,"{TV,""Cable TV"",Internet,""Wireless Internet"",""A...",85.0,0.0,2,1,365,207,95.0,moderate,4.07
1,953595,5177328,West Queen Anne,Queen Anne,Seattle,47.639123,-122.365666,Apartment,Entire home/apt,4,...,"{TV,Internet,""Wireless Internet"",Kitchen,""Free...",150.0,40.0,1,2,90,43,96.0,strict,1.48
2,3308979,16708587,West Queen Anne,Queen Anne,Seattle,47.629724,-122.369483,House,Entire home/apt,11,...,"{TV,""Cable TV"",Internet,""Wireless Internet"",""A...",975.0,300.0,10,4,30,20,97.0,strict,1.15
4,278830,1452570,West Queen Anne,Queen Anne,Seattle,47.632918,-122.372471,House,Entire home/apt,6,...,"{TV,""Cable TV"",Internet,""Wireless Internet"",Ki...",450.0,125.0,6,1,1125,38,92.0,strict,0.89
5,5956968,326758,West Queen Anne,Queen Anne,Seattle,47.630525,-122.366174,House,Private room,2,...,"{""Wireless Internet"",""Free Parking on Premises...",120.0,40.0,1,1,6,17,95.0,strict,2.45

In [185]:
listing.dtypes

id                                int64
host_id                           int64
neighbourhood_cleansed           object
neighbourhood_group_cleansed     object
city                             object
latitude                        float64
longitude                       float64
property_type                    object
room_type                        object
accommodates                      int64
bathrooms                       float64
bedrooms                        float64
beds                            float64
bed_type                         object
amenities                        object
price                           float64
cleaning_fee                    float64
guests_included                   int64
minimum_nights                    int64
maximum_nights                    int64
number_of_reviews                 int64
review_scores_rating            float64
cancellation_policy              object
reviews_per_month               float64
dtype: object

DATA VISUALIZATION:Data Modeling (Optional)
    Fit model
    validate the model
Evaluation
    Question 1
        Analyse
        Visualise
        Brief explanation for visualisation
    Question 2
        Analyse
        Visualise
        Brief explanation for visualisation
    Question 3
        Analyse
        Visualise
        Brief explanation for visualisation

In [186]:
import datetime as dt
import matplotlib.pyplot as plt
import seaborn as sns
import colorcet as cc
from sklearn import linear_model
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, mean_squared_error

In [187]:
total_apt = len(listing)
# I don't want to use the default "Other neighborhoods" but I'll take the name of the neighborhoods instead of the group name
listing['neighbourhood_group_cleansed'] = np.where(listing['neighbourhood_group_cleansed']=="Other neighborhoods",listing['neighbourhood_cleansed'],listing['neighbourhood_group_cleansed'])

In [188]:
def plot_graphs_location_distribution(listing,name="0"):
    neighbourhood_count = listing['neighbourhood_group_cleansed'].value_counts()
    neighbourhood_count = neighbourhood_count.to_frame().reset_index()
    neighbourhood_count = neighbourhood_count.rename({'index':'neighbourhood_group_cleansed', 'neighbourhood_group_cleansed':'count'}, axis=1)


    color_labels = list(neighbourhood_count['neighbourhood_group_cleansed'].unique())
    # List of colors in the color palettes
    rgb_values = sns.color_palette(cc.glasbey, len(color_labels))


    # Map continents to the colors
    color_map = dict(zip(color_labels, rgb_values))
    fig, axes = plt.subplots(nrows=1, ncols=2,figsize=(30, 12), dpi=80)
    for neighborhood in color_labels:
        x = listing[listing['neighbourhood_group_cleansed'] == neighborhood]
        axes[0].scatter(x=x['longitude'],y=x['latitude'] , color = color_map[neighborhood], label = neighborhood)
    #ax.scatter(x=listing['longitude'],y=listing['latitude'] , c=listing['neighbourhood_group_cleansed'].map(color_map))
    axes[0].axis('equal')
    axes[0].legend()
    axes[0].set_xlabel('Longitude')
    axes[0].set_ylabel('Latitude')
    axes[0].set_title('Location in Seattle')


    axes[1].bar(neighbourhood_count['neighbourhood_group_cleansed'], neighbourhood_count['count'], color=rgb_values)
    axes[1].set_xlabel('Neighbourhood Group')
    axes[1].set_ylabel('# of Location')
    axes[1].set_title('Distribution Among Neighborhood')

    plt.xticks(rotation=45,ha='right')

    fig.savefig('./seattle_map_{}.png'.format(name))
    return neighbourhood_count.head(4)

In [ ]:
top_4 = plot_graphs_location_distribution(listing, "all")

We can see from the two graphs that the areas with the higher apartment/houses in AirBnB are situate in the center of Seattle and they are:

In [ ]:
top_4

In [ ]:
new_listing = listing[listing["neighbourhood_group_cleansed"].isin(["Capitol Hill", "Central Area", "Downtown", "Queen Anne"])]

In [ ]:
top_4 = plot_graphs_location_distribution(new_listing,"top_4")

In [ ]:
print(total_apt)

In [ ]:
print("Top 4 areas coverage : {:.2f}%".format(100*top_4.sum().values[1]/total_apt))

In [ ]:
print(list(top_4["neighbourhood_group_cleansed"].unique()))

Now we want to check if there is a correlation between the numerical features. To check also the categorical features we need to dummify them.

In [ ]:
def correlation_matrix(df,columns,name="0"):
    for c in columns:
        df[c].fillna(0, inplace=True)
        df[c]=df[c].apply(pd.to_numeric, errors='raise')

    #Find out correlation between columns and plot
    corrs = np.corrcoef(df[columns].values.T)
    sns.set(font_scale=1)
    sns.set(rc={'figure.figsize':(20,20)})
    hm=sns.heatmap(corrs, cbar = True, annot=True, square = True, fmt = '.2f',
                  yticklabels = columns, xticklabels = columns).set_title('Correlations heatmap')

    fig = hm.get_figure()
    fig.savefig('correlations_{}.png'.format(name))
    return corrs

In [ ]:
col_corr=["accommodates", "bathrooms", "bedrooms", "beds", "price", "cleaning_fee", "guests_included", "minimum_nights", "maximum_nights"]#, "number_of_reviews", "review_scores_rating"]
corr_matx=correlation_matrix(listing,col_corr,"base")

In [ ]:
sns.set(style = 'whitegrid',context = 'notebook')
sns.pairplot(listing[col_corr],height=3)
plt.show()

In [ ]:
def find_more_imp_features(df,columns):
    X = df[columns]  #independent columns
    y = df['price']    #target column i.e price range
    from sklearn.ensemble import ExtraTreesClassifier
    model = ExtraTreesClassifier()
    model.fit(X,y)
    print(model.feature_importances_) #use inbuilt class feature_importances of tree based classifiers
    #plot graph of feature importances for better visualization
    feat_importances = pd.Series(model.feature_importances_, index=X.columns)
    feat_importances.nlargest(len(columns)).plot(kind='barh')
    plt.show()

In [ ]:
col_corr.remove("price")
find_more_imp_features(listing,col_corr)

In [ ]:
def find_top_k_features(df,columns):
    from sklearn.feature_selection import SelectKBest
    from sklearn.feature_selection import chi2
    X = df[columns]  # independent columns
    y = df['price']    #target column i.e price range
    #apply SelectKBest class to extract top 10 best features
    bestfeatures = SelectKBest(score_func=chi2, k=len(columns))
    fit = bestfeatures.fit(X,y)
    dfscores = pd.DataFrame(fit.scores_)
    dfcolumns = pd.DataFrame(X.columns)
    #concat two dataframes for better visualization
    featureScores = pd.concat([dfcolumns,dfscores],axis=1)
    featureScores.columns = ['Specs','Score']  #naming the dataframe columns
    print(featureScores.nlargest(len(X),'Score'))  #print 10 best features

In [ ]:
find_top_k_features(listing,col_corr)

In [ ]:
def train_linear_model(listing,col_corr):
    X_train, X_test, y_train, y_test = train_test_split(listing[col_corr], listing['price'], test_size = 0.25, random_state=1)
    model = linear_model.LinearRegression()
    model.fit(X_train, y_train)
    y_train_pred = model.predict(X_train)
    y_test_pred = model.predict(X_test)
    r2_test = r2_score(y_test,y_test_pred)
    print("R2 error: {}".format(r2_test))
    # plot residuals
    plt.scatter(y_train_pred,  y_train_pred - y_train,
                c='blue', marker='o', label='Training data')
    plt.scatter(y_test_pred,  y_test_pred - y_test,
                c='lightgreen', marker='s', label='Test data')
    plt.xlabel('Predicted values')
    plt.ylabel('Residuals')
    plt.legend(loc='upper left')
    plt.show()

In [ ]:
train_linear_model(listing,col_corr)

Extract the information from the amenities list to check if some of them are important factors to determine the price

In [ ]:
def plot_distribution(dataset,columns):
    import math
    columns_graph = 3
    fig, axes = plt.subplots(math.ceil(len(columns)/columns_graph), columns_graph,figsize=(30, 12), sharey=False)
    fig.suptitle('Data distribution in the dataset')
    t=-1
    for i,c in enumerate(columns):
        if i%columns_graph == 0:
            t+=1
        sns.histplot(ax=axes[t, i%columns_graph], data=dataset[c])
        #axes[t, i%columns_graph].set_title(c)

    plt.show()

In [ ]:
#from scipy import stats
#col=col_corr.copy()
#col.append("price")
#new_l=listing[col].copy()
#train_linear_model(new_l[(np.abs(stats.zscore(new_l)) < 3).all(axis=1)],col_corr)

In [ ]:
#plot_distribution(listing,col)

In [ ]:
#new_l[(np.abs(stats.zscore(new_l)) < 3).all(axis=1)]

In [ ]:
#plot_distribution(new_l[(np.abs(stats.zscore(new_l)) < 5).all(axis=1)],col)

In [ ]:
import re
amenities=pd.DataFrame()
amenities=listing[['id','amenities']]
amenities=amenities.set_index('id')
amenities['amenities'] = amenities['amenities'].apply(lambda x: re.sub('[{}]', '', x))
amenities['amenities'] = amenities['amenities'].apply(lambda x: re.sub('"', '', x))
amenities.head()

In [ ]:
dumm_variables_df = amenities['amenities'].str.get_dummies(sep=',')
dumm_variables_df

In [ ]:
id_price_df = listing[["id","price"]].set_index("id")
joint_amenities=pd.concat([id_price_df,dumm_variables_df], axis=1, join='inner')
joint_amenities.head()

In [ ]:
amenities_sum_df=dumm_variables_df.sum().sort_values(ascending=False).reset_index()
amenities_sum_df.head()

In [ ]:
fig, ax = plt.subplots(figsize=(25,12))
rgb_values = sns.color_palette(cc.glasbey, len(amenities_sum_df))
ax.bar(amenities_sum_df['index'], amenities_sum_df[0], color=rgb_values)
ax.set_xlabel('Amenities')
ax.set_ylabel('# of Amenities')
ax.set_title('Distribution in the dataset')
plt.xticks(rotation=45,ha='right')
plt.show()

In [ ]:
coulms_list = list(joint_amenities)
c_matrix=correlation_matrix(joint_amenities,coulms_list,"base")

In [ ]:
list_no_price=coulms_list.copy()
list_no_price.remove("price")
x=find_more_imp_features(joint_amenities,list_no_price)

In [ ]:
find_top_k_features(joint_amenities,list_no_price)

In [ ]:
train_linear_model(joint_amenities,list_no_price)